# Resume from external SSD
resume_file     = E:\DDISK\neatlogaccess\16k_convergence.gol
archive_file    = E:\DDISK\neatlogaccess\16k_convergence.gol
archive_every   = 1
max_gens        = 0
threads         = 0
stagnation      = 1
detect_extinction = 1
detect_still    = 1
detect_cycle    = 1
cycle_window    = 0
final_cells_file = 16k_convergence_final.cells